footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pointer{
    cursor: pointer;
}

.btn-simple {
    background-color: white; 
    color: black; 
    border: 2px solid #670b56;
    transition : 1s;
    padding: 5px 10px;
  }


  .btn-simple:hover{
    background-color: #d51616;
    color: white;
  }